.btn-key {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;

}

.plus-key {
  grid-row: auto / span 2;
  width: 50px;
  height: 100px;
  font-size: 1.5rem;
}

.zero-key {

  /* grid-column: auto / span 2; */
  width: 100px;
  height: 50px;
  font-size: 1.5rem;
}

.wide-key {
  width: 100px;
  height: 50px;
  font-size: 1.25rem;
}



.div-5-grid {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  margin-left: 50px;
  margin-top: 20px;
  row-gap: 22px;

  /* background-color: aqua; */

}


.btn-wx2 {
  width: 100px;
}

.btn-hx2 {
  height: 100px;
}

.btn-key2 {

  height: 50px;
  font-size: 1.25rem;


}

.butt2 {
  margin-left: 50px;
}

.output1 {
  color: white;
  word-wrap: break-word;
  /* align-items: right; */
}

.output2 {
  color: white;
  /* align-items: right; */
  font-size: 1.5rem;
}

.cont-1 {
  max-width: 100;
}

.cont-2 {
  max-width: 150;
}




.div-6-grid {
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  grid-template-columns: repeat(6, 50px);


}



.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 50px);
}


.err1 {
  color: red;
  margin-left: 30px;
}